@font-face { font-family: JetBrains Mono; src: url('/css/fonts/JetBrainsMono-Regular.woff2');}

body{
    background-color: #24292E;
}
.greeting{
    font-family: JetBrains Mono;
    color: #C9DEE8;
}
.greeting h1{
    font-size: 40px;
}
.navbar{
    text-align: center;
}
.navbar a{
    text-decoration: none;
    padding: 14px 16px;
}